# JJJ specific
*_output*.csv
*_input.json
*.log

# Python artifacts
*.py[cod]
__pycache__
*.so
build/

# Distribution / packaging
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv/

# Poetry specific
poetry.lock